@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    justify-content: center;
    width: 100%;
    height: 275px;
    margin: 0 auto 2rem;
  }
}


@media screen and (max-width: 900px) {
  .gallery-container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  
  .gallery-img {
    height: 250px;
  }
  
  #previous-hackathon {
    padding: 2rem 1rem;
    margin: 3rem 1rem;
  }
}

@media screen and (max-width: 700px) {
  html, body {
    max-width: 100%;
    overflow-x: hidden; /* Prevents horizontal scroll */ 
  }

  #desktop-nav .logo img {
    width: 120px; height: auto;
  }

  #socials-container {
    display: none;
  }

  #apply-button {
    display: none;
  }

  #desktop-nav {
    justify-content: space-between;
  }
  .nav-links {
    width: 100%;
    gap: .5rem;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }


  #profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section__pic-container img {
    display: flex;
    justify-content: center;
    height: auto;
    padding-top: 40px;
  }

  #about {
    width: 100px;
  }

  #hack-title {
    display: flex;
    justify-content: center;
  }
  
  .fixed-about {
    display: flex;
    justify-content: center;
    justify-items: left;
    width: 100%;
  }

  .about-content-containers {
    display: flex;
    max-width: 100%;
  }
  
  .left-content {
    width: 300px;
  }
  .arrow {
    display: none;
  }
 


  .section-image {
    display: none; /*Hides the element*/
  }
}


@media screen and (max-width: 700px) {
  #faq-section{
    width: 150px;
    flex-wrap: wrap;
  }


  #contact,
  footer {
    height: 40vh;
  }

  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  #contact {
    display: flex;
    justify-content: left;
    width: 200px;
    height: auto;
  }

  .contact-info-container {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .title {
    font-size: 2rem;
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .time-box {
    width: 100px; /* Adjust width for smaller screens */
    height: 100px; /* Adjust height for smaller screens */
  }

  .time-box .number {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    min-width: 40px; /* Ensure enough space for numbers on smaller screens */
  }

  .label {
    font-size: 1rem; /* Adjust label font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .time-box {
    width: 80px; /* Adjust width for very small screens */
    height: 80px; /* Adjust height for very small screens */
    padding: 0 5px; /* Add some horizontal padding */
  }

  .time-box .number {
    font-size: 1rem; /* Adjust font size for very small screens */
    min-width: 30px; /* Ensure enough space for numbers on very small screens */
  }

  .label {
    font-size: 0.75rem; /* Adjust label font size for very small screens */
  }
}